/* line 4, ../sass/styles.scss */
body, html {
  width: 100%;
  background-color: #333;
}

/* line 9, ../sass/styles.scss */
#tic-tac-toe-table {
  margin: 0 auto;
  border: none;
}
/* line 13, ../sass/styles.scss */
#tic-tac-toe-table td {
  height: 60px;
  width: 60px;
  border: 1px solid white;
}
/* line 20, ../sass/styles.scss */
#tic-tac-toe-table td:first-child {
  border-left: none;
}
/* line 25, ../sass/styles.scss */
#tic-tac-toe-table td:last-child {
  border-right: none;
}
/* line 30, ../sass/styles.scss */
#tic-tac-toe-table tr:first-of-type td {
  border-top: none;
}
/* line 36, ../sass/styles.scss */
#tic-tac-toe-table tr:last-of-type td {
  border-bottom: none;
}

/* line 42, ../sass/styles.scss */
#choose {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 80px 0px 20px 0px;
}
/* line 49, ../sass/styles.scss */
#choose button {
  background: transparent;
  font-size: 20px;
  border: none;
  color: white;
  padding: 20px;
}
/* line 57, ../sass/styles.scss */
#choose button:hover {
  border: 1px solid white;
}
/* line 61, ../sass/styles.scss */
#choose button:focus {
  outline: none;
}

/* line 67, ../sass/styles.scss */
#results {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}
/* line 73, ../sass/styles.scss */
#results p {
  display: inline-block;
  color: white;
  margin: 0px 50px;
}
