/* line 7, ../sass/styles.scss */
body, html {
  width: 100%;
  background-color: #333;
  font-family: sans-serif;
}

/* line 13, ../sass/styles.scss */
#tic-tac-toe-table {
  margin: 0 auto;
  border: none;
  border-spacing: 0;
  width: 90vw;
  height: 90vw;
  max-width: 400px;
  max-height: 400px;
}
/* line 22, ../sass/styles.scss */
#tic-tac-toe-table td {
  height: 33.3%;
  max-height: 132px;
  width: 33.3%;
  max-width: 132px;
  border: 1px solid #999;
  text-align: center;
  vertical-align: middle;
  color: transparent;
  font-size: 44px;
  transition: all 0.2s ease-in-out;
}
/* line 40, ../sass/styles.scss */
#tic-tac-toe-table td:first-child {
  border-left: none;
}
/* line 45, ../sass/styles.scss */
#tic-tac-toe-table td:last-child {
  border-right: none;
}
/* line 50, ../sass/styles.scss */
#tic-tac-toe-table tr:first-of-type td {
  border-top: none;
}
/* line 56, ../sass/styles.scss */
#tic-tac-toe-table tr:last-of-type td {
  border-bottom: none;
}

/* line 62, ../sass/styles.scss */
#choose {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 30px 0px 20px 0px;
}
/* line 69, ../sass/styles.scss */
#choose button {
  background: transparent;
  font-size: 20px;
  border-color: transparent;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  color: white;
  padding: 20px;
}
/* line 81, ../sass/styles.scss */
#choose button:hover {
  border: 1px solid white;
}
/* line 85, ../sass/styles.scss */
#choose button:focus {
  outline: none;
}
/* line 89, ../sass/styles.scss */
#choose button.selected {
  background-color: #52C450;
}

/* line 95, ../sass/styles.scss */
#results {
  text-align: center;
  margin: 5px 0px 30px 0px;
  height: 80px;
  color: white;
  font-size: 30px;
}
/* line 103, ../sass/styles.scss */
#results p {
  font-size: 16px;
  color: white;
}
